<%= form_with(model: @list, local: true) do |form| %>
  <%= render "shared/form_errors", object: @list %>

  <div class="mb-3">
    <%= form.label :title, class: "form-label" %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :description, class: "form-label" %>
    <%= form.text_area :description, class: "form-control" %>
  </div>

  <%= form.submit class: "btn btn-primary" %>
<% end %>
